{
  "tabWidth": 2,
  "semi": false,
  "singleQuote": false,
  "quoteProps": "consistent",
  "jsxSingleQuote": false,
  "printWidth": 80,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "useTabs": false,
  "endOfLine": "lf"
}
