@tailwind base;
* {
  scrollbar-width: thin;
  scrollbar-color: #5b33a8, #5b33a8;
}

*::-webkit-scrollbar {
  width: 1px;
}

*::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #f5f5f5;
  border-radius: 14px;
  border: 3px solid #f5f5f5;
}


@tailwind components;
@tailwind utilities;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #fbfbfb;
}

html {
  font-family: "Poppins", sans-serif !important;
}

@font-face {
  font-family: "poppins-bold";
  src: url("../assets/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "poppins-semibold";
  src: url("../assets/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "poppins-medium";
  src: url("../assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "poppins-regular";
  src: url("../assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "poppins-light";
  src: url("../assets/fonts/Poppins-Light.ttf");
}